[submodule "Modules/json"]
	path = Modules/json
	url = https://github.com/nlohmann/json
[submodule "Modules/ff_meters"]
	path = Modules/ff_meters
	url = https://github.com/ffAudio/ff_meters
[submodule "Modules/NeuralAmpModelerCore"]
	path = Modules/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore
[submodule "Modules/AudioDSPTools"]
	path = Modules/AudioDSPTools
	url = https://github.com/Tr3m/AudioDSPTools
[submodule "Modules/JUCE"]
	path = Modules/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "Modules/melatonin_blur"]
	path = Modules/melatonin_blur
	url = https://github.com/sudara/melatonin_blur
