[submodule "Source/NeuralAmpModelerCore"]
	path = Source/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore
[submodule "Modules/eigen"]
	path = Modules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Modules/json"]
	path = Modules/json
	url = https://github.com/nlohmann/json
